* {
  margin: 0;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px,
}

body{
  background-color: #f5f6fa;
}

.app__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__left{
  flex: 0.9;
}

.app__stats{
  display: flex;
  justify-content: space-between;
}

/* Making the app responsive in mobile too */
@media (maxWidth: 800px)
{
  .app {
    flex-direction: column;
  }
}